*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
header{
    text-align: center;
    background-color: antiquewhite;
    height: auto;
    padding: 10px;
}
form{
    display: flex;
    flex-direction: column;
    margin: auto;
    width: 50%;
    margin-top: 40px;
}

input, textarea{
    margin-bottom: 20px;
    padding: 10px;
}
textarea{
    resize: none;
}
