*{
  box-sizing: border-box;
}

body{
  background-color: white;
}

#intro_section{
  display: flex;
  flex-direction: row;
  border-radius: 4px;
  padding: 0 2.5%;
  background-color: aliceblue;
  align-items: center;
  width: auto;
  justify-content: space-between;
  height: 200px;
}

.intro-text{
  height: auto;
}
#personal_image{
  border-radius: 50%;
  border: 16px solid white;
  align-self: flex-end;
  z-index: 999;
  width: 100%;
  max-width: max-content;
}

h1{
  font-family: cursive;
  color: #161B40;
  font-size: 2.5em;
}
#email{
  color: #161B40;
}

#education_section{
  width: 100%;
  display: block;
  width: auto;
}
table{
  width: 100%;
}
thead{
  color: white;
  background-color: blue;
}
tbody{
  background-color: azure;
  text-align: center;
}

h2{
  color: #161B40;
}

footer{
  display: flex;
  height: 40px;
  padding:  5px;
  background-color: aliceblue;
}

footer>a{
  text-decoration: none;
  color: #161B40;
  align-self: center;
  justify-content: flex-start;
  width:20%;
}

#sm_links{
  width: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-evenly;
}
a>img{
  align-self: center;
}